.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav{
  background-color: #002D62;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr
}

.new-transaction{
  margin-top: 30px;
  margin-left: 500px;
  height: 40px;
  background-color: azure;
  cursor: pointer;
}


.home-page-link{
color: #A9A9A9;
font-size: 30px;

font-family: Courier, monospace;
}

a:link{
  color: #055b90;
}

a:visited{
  color: #055b90
}

table{
  font-family: arial, sans-serif;
  width: 100%;
 
}

td, th {
  border: 5px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #002D62;
  color: white
  
} */

.details{
  border: black solid 1px;
  margin-left: 125px;
  margin-right: 125px;
  background-color: #002D62;
  box-shadow: 5px 10px;
}


.buttons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.transaction-buttons{
  background-color: white;
  height: 20px;
}

.pagination{
   
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color:  #002D62;
    cursor: pointer;
    list-style: none;
}
